@model List<foodArena.Models.FoodMenu>
@{
    ViewData["Title"] = "FoodMenu Page";
}

<div class="text-center">
    <h5 class="">Food Menus</h5>
    <br />

    <div class="row">
        @foreach (var food in Model)
        {
            <div class="col-md-4 mb-4">
                <!-- This ensures three cards per row -->
                <div class="card shadow-sm">
                    <img class="card-img-top" src="@food.Image" alt="@food.Name" style="height: 200px; object-fit: cover;" />
                    <div class="card-body">
                        <h5 class="card-title">@food.Name</h5>
                        <p class="card-text">@food.Description</p>
                        <p class="card-text">@food.Price</p>
                        <a 
                            href="" class="btn btn-danger">Order</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
